.con-t{
    text-align: center;
}
.lo-go{
border-radius: 50%;
}
#wa,
#fa,
#ins{
    text-align: center;
    padding: 15px 10px;
    display: inline-block;
    width: 100px;
    margin: 15px 40px;
    border: none;
    border-radius: 25px;
    width: 210px;
    font-size: 16px;
    background-color: #2196F3;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}